@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ffeedf;
}

.App {
  text-align: center;
  display: flex;

  justify-content: center;
  gap: 62px;
  padding: 27px;
  margin-top: 80px;
}

.card {
  width: 290px;
  height: 416px;
  text-align: left;
  background-color: #fff;
  padding: 27px;
}

.card h2 {
  color: #33793f;
  font-size: 48px;
  font-family: "EB Garamond", serif;
}

.card h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
  font-weight: medium;
  color: #999;
}

.card p {
  color: #999;
  font-size: 24px;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 920px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
